.skill-tree-dashbord {
    @include flex(flex-start, center, wrap);
    .skill-tree-box {
        position: relative;
        width: size(700);
        height: size(500);
        margin-left: size(20);
        .skill-item {
            @include flex(center);
            @include font-style(size(12));
            position: absolute;
            width: size(80);
            height: size(40);
            border-radius: size(4);
            background: #cfb53b;
            color: white;
            cursor: pointer;
        }
    }
}
