module.exports = {
  // Base url for http
  backendUrl: 'url [eg. http://127.0.0.1:8080]',
  // Root url for the program
  rootPath: '/',
  // The serving web server's root or a subpath where your application is hosted at
  publicUrl: '/',
  // The key of lang storage for i18n
  langKeyForStorage: 'LANG',
  // The key of token storage for i18n
  tokenKeyForStorage: 'AUTH_TOKEN',
}
